*~
_*
*.o
*.d
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit

# Ruby/RSpec artifacts
.bundle/
bin/
*.log
Gemfile.lock

# SQLite from scratch artifacts
db/sqlite_from_scratch/db
db/sqlite_from_scratch/debug_scripts/*.gdb
db/sqlite_from_scratch/test_input/*.txt
